<div class="test"> 

	 <header class="site-header navbar-fullwidth navbar-transparent overlay-black">
  <!-- Top navbar & branding -->
  <nav class="navbar navbar gl-header-main-menu ">
    <div class="container">

      <!-- Toggle buttons and brand -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>
      </div>
      <!-- END Toggle buttons and brand -->


      <div id="navbar" class="navbar-collapse collapse" >
        <ul class="nav navbar-nav">
        	<li style="font-family: 'FuturaPTWeb-Book'; font-size: 40px;"> <%= link_to "BATRAKOFF.INFO", root_path, {style: "color: black"} %></li>
        </ul>


          <ul class="nav navbar-nav navbar-right">
          	<li style="font-family: 'FuturaPTWeb-Book';font-size: 18px;""><%= link_to "Блог", posts_path, {style: "color: black"} %></li>
          	<li style="font-family: 'FuturaPTWeb-Book';font-size: 18px;""><%= link_to "Обо мне", about_path, {style: "color: black"} %></li>
          </ul>

      </div>

      <!-- END Top navbar -->
    </div>
  </nav>
</header>

	        <!-- Banner -->
        <div class=" banner banner-lg text-white text-center overlay-black">
          <div class="container">
            <h1 style="font-size: 60px; font-family: 'FuturaPTWeb-Book'; margin-top: 200px;">Батраков Дмитрий </br> Веб Разработчик</h1>
                <a href="#" class="btn btn-success">Написать мне</a>
      </div>
    </div>

</div>
	